.aboutme-divider {
  position: relative;
  align-items: center;
  margin-top: -350px;
  justify-content: center;
  opacity: 0.4;
  height: 600px;
  width: 0.00625px;
  border: 0.000001rem solid #35b3b3;
}
.aboutme-timelines {
  width: 100%;
}
.aboutme-outergrid {
  top: 179rem;
    position: absolute;
}
.aboutme-titlegrid {
  height: 20%;
  width: auto;
  color: #fff;
  margin-inline: auto !important;
}
.aboutme-allgrid {
  width: 100%;
  min-height: 700px;
  height: 1000px;
  flex-direction: column;
}
.aboutme-timeline {
  position: relative;
  width: 45%;
  height: 850px;
  border: none;
}
.aboutme-divider {
  position: relative;
  width: 10%;
  height: auto;
  border: none;
  top: 500px;
}
.aboutme-tools {
  position: relative;
  height: 850px;
  border: none;
  width: 45%;
}
.aboutme-dividerline{
   position: relative;
  align-items: center;
  margin-top: -350px;
  justify-content: center;
  opacity: 0.4;
  height: 650px;
  width: 0.00625px;
  border: 0.000001rem solid #35b3b3;
}
