.footer{
    position: relative;
    background: #212121;
    top: 100rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    color: #fff;

}
.padding-leftright{
    padding-left: 4px;
    padding-right: 4px;
}
.padding-left{
    padding-left: 9px;
}
.heart-color{
    color: #dd6973;
    
}