.footer{
    bottom: 0;
    position: fixed;
    background: #212121;
    width: 100%;
    padding-top: 1.95rem;
    padding-bottom: 1.90rem;
    color: #fff;

}
.padding-leftright{
    padding-left: 4px;
    padding-right: 4px;
}
.padding-left{
    padding-left: 9px;
}
.heart-color{
    color: #dd6973;
    
}